body {
  background: linear-gradient(#1f227a, #1e1945);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  place-items: center;
  height: 100%;
}

.quadrado {
  width: 30vmin; /* Tamanho relativo ao viewport width */
  height: 30vmin; /* Tamanho relativo ao viewport width */
  background-image: url("static/img/MeGif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid #cc6ce6;
  border-radius: 12px;
  position: fixed;
  display: flex;
}

.fala {
  width: 78vmin; /* Tamanho relativo ao viewport width */
  height: 43vmin; /* Tamanho relativo ao viewport width */
  background-image: url("static/img/fala.png");
  transform: translate(3%, -53%);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: fixed;
}

.escrita {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 1.3vmin;
  color: #fff;
  line-height: 1.4;
  position: relative;
  top: 37.5%;
  left: 46.3%;
  transform: translate(-50%, -50%);
  padding: 0.2vw;
  position: fixed;
  display: flex;
}

.seta {
  background-image: url("static/img/seta.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 5vmin; /* Tamanho relativo ao viewport width */
  height: 4vmin; /* Tamanho relativo ao viewport width */
  position: fixed;
  display: flex;
  top: 54%;
  left: 46%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.pasta7 {
  top: 46%;
  left: 38%;
  width: 7.2vmin;
  height: 5.6vmin;
  position: fixed;
  background-image: url("static/img/pasta.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pasta1 {
  top: 67%;
  left: 73%;
  width: 7.5vmin;
  height: 6vmin;
  position: fixed;
  background-image: url("static/img/pasta.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.texto-pasta1 {
  position: fixed;
  top: 82%;
  left: 69%;
  color: white;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2vmin;
}

.pasta2 {
  top: 95%;
  left: 73%;
  width: 7.5vmin;
  height: 6vmin;
  position: fixed;
  background-image: url("static/img/pasta.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.texto-pasta2 {
  position: fixed;
  top: 111%;
  left: 69%;
  color: white;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2vmin;
}

.pasta3 {
  top: 125%;
  left: 73%;
  width: 7.5vmin;
  height: 6vmin;
  position: fixed;
  background-image: url("static/img/pasta.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.texto-pasta3 {
  position: fixed;
  top: 141%;
  left: 65%;
  color: white;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2vmin;
}

.pasta4 {
  top: 66%;
  left: 12%;
  width: 7.5vmin;
  height: 6vmin;
  position: fixed;
  background-image: url("static/img/pasta.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.texto-pasta4 {
  position: absolute;
  top: 83%;
  left: 17%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2vmin;
}

.pasta5 {
  top: 95%;
  left: 12%;
  width: 7.5vmin;
  height: 6vmin;
  position: fixed;
  background-image: url("static/img/pasta.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.texto-pasta5 {
  position: absolute;
  top: 112%;
  left: 18%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2vmin;
}

.pasta6 {
  top: 126%;
  left: 12%;
  width: 7.5vmin;
  height: 6vmin;
  position: fixed;
  background-image: url("static/img/pasta.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.texto-pasta6 {
  position: absolute;
  top: 143.2%;
  left: 18%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 1.2vmin;
}

.popup {
  image-rendering: pixelated;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none; /* Oculta o popup por padrão */
}

.popup-content {
  margin-bottom: 20px;
}

.popup h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.popup p {
  margin-bottom: 8px;
  line-height: 1.5;
}

.popup button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 14px;
  cursor: pointer;
  position: sticky;
}

footer {
  background-color: black;
  color: white;
  padding: 1vh;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 1vh;
  position: fixed;
  transform: translate(-34%, 1030%);
  left: 0%;
  bottom: 0%;
  width: 300%;
}
