body {
  background-image: linear-gradient(#1F227A, #1E1945);
  height: 105vh;
}

.quadrado {
  width: 300px;
  height: 300px;
  border: 3px solid #CC6CE6;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#q1 {
  background-image: url('static/img/MeGif.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.fala {
  width: 750px;
  height: 300px;
  position: absolute;
  top: 19%;
  left: 51.4%;
  transform: translate(-50%, -50%);
  background-image: url('static/img/fala.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  color: #FFF;
  padding: 20px;
  line-height: 1.5;
}

.seta {
  background-image: url('static/img/seta.gif');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 26%;
  left: 49%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.pasta1 {
  top: 35%;
  left: 64%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 70px;
  position: absolute;
  background-image: url('static/img/pasta.png');
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

.texto-pasta1 {
  position: absolute;
  top: 38.9%;
  left: 64%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.pasta2 {
  top: 50%;
  left: 64%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 70px;
  position: absolute;
  background-image: url('static/img/pasta.png');
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

.texto-pasta2 {
  position: absolute;
  top: 54%;
  left: 64%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.pasta3 {
  top: 64.9%;
  left: 64%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 70px;
  position: absolute;
  background-image: url('static/img/pasta.png');
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

.texto-pasta3 {
  position: absolute;
  top: 68.9%;
  left: 64%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.pasta4 {
  top: 35%;
  left: 36.9%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 70px;
  position: absolute;
  background-image: url('static/img/pasta.png');
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

.texto-pasta4 {
  position: absolute;
  top: 38.9%;
  left: 37%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.pasta5 {
  top: 50%;
  left: 36.8%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 70px;
  position: absolute;
  background-image: url('static/img/pasta.png');
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

.texto-pasta5 {
  position: absolute;
  top: 54%;
  left: 37%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.pasta6 {
  top: 65%;
  left: 36.8%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 70px;
  position: absolute;
  background-image: url('static/img/pasta.png');
  background-repeat: no-repeat;
  background-size: auto;
  cursor: pointer;
}

.texto-pasta6 {
  position: absolute;
  top: 68.9%;
  left: 37.4%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
}

.pasta7 {
  top: 25.5%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 70px;
  position: absolute;
  background-image: url('static/img/pasta.png');
  background-repeat: no-repeat;
  background-size: auto;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.popup {
  image-rendering: pixelated;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none; /* Oculta o popup por padrão */
}

.popup-content {
  margin-bottom: 20px;
}

.popup h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.popup p {
  margin-bottom: 8px;
  line-height: 1.5;
}

.popup button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 7px 12px;
  border-radius: 14px;
  cursor: pointer;
  position: sticky;

}

.popup button:hover {
  background-color: #333;
}
